.Category {
}

.Category-item {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 2px;
  padding: 5px;
}

.Category-expander {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.Category-controls {
}

.Category-title {
  margin-left: 20px;
}

.Category-active-link {
  font-weight: bold;
}

.Category-childs {
  margin-left: 20px;
}

